.navbar {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 50px;
    background-color: #C11125;
    height: auto;
    font-family: 'Bungee';
}

#directions {
    text-align: center;
}

.pTag {
    margin: auto 0;
}